body{
  font-family: 'Roboto';
}

nav{
  background-color:orange;
}

nav h3{
  font-weight: 400;
}

img{
  width:100%;
}

main{
  margin-top:2em;
}

.character{
  border:1px solid rgb(222, 222, 222);
  margin-bottom:2em;
  color:rgb(87, 87, 87);
}
